body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: #ffffff;
    height: 100vh;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #23233a;
    padding: 10px 20px;
    border-bottom: 2px solid #4caf50;
    
}
header h1 {
    font-size: 1.5em;
    color: #4caf50;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;   

}
.card {
    background: #2e2e44;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card:hover{
    transform: scale(1.025);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card h2 {
    color: #4caf50;
    margin-bottom: 10px;
}
button{
    background: #4caf50;
    border: none; color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
button:hover{
    background: #4caf70;
}
.chart-container {
    width: 100%;
    height: 200px;
    position: relative;
}
footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width:100%;
    padding: 10px 20px;
    background: #23233a;
    border-top: 2px solid #4caf50;
    position: fixed;



}
footer p {
    margin: 1px;
}
@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}
@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }
}